body {
    background: #B0BEC5;
    cursor: default;
    text-align: justify;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
#fallEngine {
    display:block;
    margin: 0 auto;
    z-index: 999;
}
#fallEngineStartButton {
    background-image: url('elements/fallEngineStartButton.png');
}
#fallEngineStartButton:active, #fallEngineStartButton:active:hover {
    background-image: url('elements/fallEngineStartButtonActive.png');
}
#fallEngineStartButton:hover {
    background-image: url('elements/fallEngineStartButtonHover.png');
}
#fallEngineStopButton {
    background-image: url('elements/fallEngineStopButton.png');
}
#fallEngineStopButton:active, #fallEngineStopButton:active:hover {
    background-image: url('elements/fallEngineStopButtonActive.png');
}
#fallEngineStopButton:hover {
    background-image: url('elements/fallEngineStopButtonHover.png');
}
#fallEngineStartButton, #fallEngineStopButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    cursor:pointer;
    outline:none;
    height: 64px;
    position: relative;
    top: 10px;
    width: 64px;
}
#FallSoftwareLogo {
    margin-top: 10px;
}
#footer {
    background-color: #37474F;
    bottom: 0px;
    height: 150px;
    position: absolute;
    width: 100%;
}
#logos {
    margin: 0 auto;
    text-align: center;
    width: 800px;
}
#logos img {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    vertical-align: middle;
}
#interface {
    border-radius: 5px;
    margin: 0 auto;
    position: absolute;
}
#title {
    color: white;
    display: inline-block;
    font-family: ChunkFive, serif;
    font-size: 4em;
    padding: 10px;
}
#UQACLogo {
    margin-top: 15px;
}
@font-face {
    font-family: ChunkFive;
    src: url('elements/ChunkFive.otf');
}
